# predefined variables
# $line => currentline
# $lineno => current line number
#
# 数据库
# id unique key, 默认添加
# raw， 默认添加
# -- fts5 表 ---
# CREATE VIRTUAL TABLE logs_fts USING fts5(
#     raw_log,
#     content='logs',
#     content_rowid='id'
# );
# -- 触发器 ---
# CREATE TRIGGER logs_ai AFTER INSERT ON logs BEGIN
#     INSERT INTO logs_fts(rowid, raw) VALUES (new.id, new.raw);
# END;
[logs]
# 字段全定义为TEXT类型
lineNumber = "$lineno"
eventTime = "$line.Event.paltformUtcTime"
eventName = "$line.Event.telemetryEventName"
sourceNodeId = "$line.Event.SourcenodeId"
targetNodeId = "$line.Event.TargetnodeId"

[[col]]
width = 120
align = "center"
[[col.row]]
expr = "time($eventTime)"
style = "meta"

[[col]]
width = 140
align = "center"
[[col.row]]
expr = "$eventName"
style = "text"

[[col]]
flex = 1
[[col.row]]
expr = "$sourceNodeId"
style = "tag"
[[col.row]]
expr = "$sourceNodeId"
style = "text"

[[col]]
flex = 1
[[col.row]]
[[col.row.elements]]
expr = "$targetNodeId"
style = "tag"
tooltip = "$targetNodeId"
[[col.row.elements]]
expr = "$targetNodeId"
style = "text"
[[col.row]]
expr = "$targetNodeId"
style = "text"
