# predefined variables
# $line => currentline
# $lineno => current line number
#
# 数据库
# id unique key, 默认添加
# raw， 默认添加
# -- fts5 表 ---
# CREATE VIRTUAL TABLE logs_fts USING fts5(
#     raw_log,
#     content='logs',
#     content_rowid='id'
# );
# -- 触发器 ---
# CREATE TRIGGER logs_ai AFTER INSERT ON logs BEGIN
#     INSERT INTO logs_fts(rowid, raw) VALUES (new.id, new.raw);
# END;
[logs]
# 字段全定义为TEXT类型
lineNumber= "$lineno"
eventTime = "$line.Event.paltformUtcTime"
eventName = "$line.Event.telemetryEventName"
sourceNodeId = "$line.Event.SourcenodeId"
targetNodeId = "$line.Event.TargetnodeId"

[[col]]
with = 120
expr = "local_time($0.Event.paltformUtcTime)"

[[col]]
expr = "$cur.Event.telemetryEventName"

[[col]]
expr = "$cur.Event.telemetryEventName"