# predefined variables
# $line => currentline
# $lineno => current line number

[table]
# 原始日志
[table.logs]
id = "uniqueId"
lineNumber= "data:$lineno, uint32, noindex"
rawLog = "data:$line"

# 结构化日志 前端展示用
# 简单一点的话就all by string, 不搞类型
[table.fields]
id = "uniqueId"
lineNumber= "data:$lineno, uint32"
eventTime = "uint64($line.Event.paltformUtcTime)"
eventName = "string($line.Event.telemetryEventName)"
sourceNodeId = "uint64($line.Event.SourcenodeId)"
targetNodeId = "uint64($line.Event.TargetnodeId)"


[[col]]
expr = "local_time($0.Event.paltformUtcTime)"

[[col]]
expr = "$cur.Event.telemetryEventName"

[[col]]
expr = "$cur.Event.telemetryEventName"


# sqlite内存数据库存储字段
[index]
raw = "$0"
telemetryEventName = "$0.Event.telemetryEventName"
eventId = "$0.Event.eventId"
sourceNodeId = "$0.Event.sourceNodeId"
targetNodeId = "$0.Event.targetNodeId"